<html>
  <head>
    <meta charset=utf-8>
  </head>
  <body>
    <div id="app">
      <div class="newTask">
        <input type="text" v-model="newTodo" @keypress.enter="addTodo">
      </div>
      <ol class="todos">
        <li v-for="todo in todoList">
          <button v-on:click="deleteTodo">X</button>
          {{ todo.title }}<input type="checkbox" id="checkbox" v-model="todo.done">
          <span v-if="todo.done===true">已完成</span>
          <span v-else>未完成</span>
        </li>
      </ol>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>